{% extends 'layout.html' %}

{% block title %}
 <title> Ajouter une parcelle </title>
{% endblock %}

{% block body %}
<h2> Ajouter une parcelle </h2>
<form method="post" action="/parcelle/add">
    <fieldset>
        <legend> Créer une parcelle </legend>

        <label for="Plante_id"> Plante </label>
        <select name="Plante_id">
        <option value="">Sélectionner une plante</option>
            {% for plante in Plantes %}
            <option value="{{ plante.Id_FruitLegume }}"> {{ plante.Libelle_FruitLegume }}</option>
            {% endfor %}
        </select> <br>

        <label for="Nom_Parcelle"> Entrer nom de parcelle (Colonne Ligne, ex B6) </label>
        <input id="Nom_Parcelle" type="text" name="Nom_Parcelle" size="4" value=""
               placeholder="Nom" required>

        <label for="Surface"> Surface de la parcelle </label>
        <input id="Surface" type="number" name="Surface" min="" max="" step="0.01"
               placeholder="Entrer la surface en mètre carré" required>
        <br>

        <input type="submit" value="Creer" name="Valider">
    </fieldset>
</form>
{% endblock %}
