{% extends 'layout.html' %}

{% block title %}
    <title>Afficher les parcelles</title>
{% endblock %}

{% block body %}
<h3>Parcelles</h3>
<a href="/parcelle/add">Ajouter une parcelle</a>
<br><br>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>ID</th><th>Nom</th><th>Surface</th><th>id_plante</th>
        </tr>
    </thead>
    <tbody>
    {% if parcelles | length >= 1 %}
        {% for ligne in parcelles %}
           <tr>
               <td> {{ ligne.Id_Parcelle }}</td>
               <td> {{ ligne.Nom_Parcelle }}</td>
               <td> {{ ligne.Surface }} </td>
               <td>{{ ligne.Plante }}</td>

               <td>
                   <a class= "lien_tab" href="/parcelle/edit?Id_Recolte={{ ligne.Id_Parcelle }}">Éditer</a>
                   <a class= "lien_tab" href="/parcelle/delete?Id_Recolte={{ ligne.Id_Parcelle }}" >Supprimer</a>
               </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      Pas de parcelles
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}
