.flashes {
    padding: 5px;
    margin : 5px;
    background-color: green;
    list-style-type: none;
}

table ,tr {
  table-layout: fixed;
  width: 100%;
    height: 50px;
  border-collapse: collapse;
  border: 1px solid darkgreen;
  background-color: lightgreen;
}

tr{
    text-align: center;
}

a:not(.lien_tab, .lien_nav){
    width:150px;
    height: 30px;
    background-color:lightblue;
    border: 1px mediumpurple groove ;
    text-align:center;
    vertical-align: middle;
    padding: 5px;
    margin : 5px;
    border-radius: 15px;
    color: black;
    text-decoration: none;
}

.lien_tab{
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 5px;
    background-color: darkgreen;
}

.lien_nav {
    text-decoration: none;
    color: darkgreen;
}

a:hover{
    background-color: lightblue;
    color: black;
}

.menu{
    font-weight: bolder;
}

/* DISPLAY CARDS*/

.display_enseignant{
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
}

.display_enseignant div{
    margin-bottom: 10px;
}

.card{
    border: 2px green dotted;
    padding-bottom: 10px;
    background-color: lightgray;
}

.card-header{
    font-weight: bolder;
}

/* FLASHES */

.flashes {
    padding: 5px;
    margin : 5px;
}

.alert-warning {
    background-color: rgba(255, 197, 197, 1);
}
.alert-success {
    background-color: #bdfdbd;
}

body {
    filter: brightness(80%);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxbn1GqdUhvKzvTEICB37eyE3Qu8UYYdxv9w&s'); /* Chemin relatif vers votre image */
    background-size: auto;
    background-repeat: repeat; /* Pas de répétition */
    background-attachment: fixed; /* L'image reste fixe lors du défilement */
}
