{% extends 'layout.html' %}

{% block title %}
 <title> Modifier une récolte </title>
{% endblock %}

{% block body %}
<h2> Modifier une récolte </h2>
<form method="post" action="/recolte/edit">
    <fieldset>
        <legend> Modifier une récolte </legend>

        <label for="Adherents"> Adhérents </label>
        <select name="Id_Adherent">
        {% for adherent in Adherents %}
        <option value="{{ adherent.Id_Adherent }}"
            {% if Recolte.Id_Adherent is defined and adherent.Id_Adherent == Recolte.Id_Adherent %} selected {% endif %}
        > {{ adherent.NomPrenom }} </option>
        {% endfor %}
        </select> <br>

        <label for="Id_Parcelle"> Parcelle </label>
        <select name="Id_Parcelle" >
        {% for parcelle in Parcelles %}
            <option value="{{ parcelle.Id_Parcelle }}"
            {% if Recolte.Id_Parcelle is defined and parcelle.Id_Parcelle ==
            Recolte.Id_Parcelle %} selected {% endif %}> {{ parcelle.Nom_Parcelle }} </option>
        {% endfor %}
        </select> <br>

        <label for="Id_FruitLegume"> Plante </label>
        <select name = "Id_FruitLegume" >
        {% for plante in Fruits_Legumes_et_aromate %}
            <option value="{{ plante.Id_FruitLegume }}"
            {% if Recolte.Id_FruitLegume is defined and plante.Id_FruitLegume ==
            Recolte.Id_FruitLegume %}selected{%endif%}> {{ plante.Libelle_FruitLegume }} </option>
        {% endfor %}
        </select>

        <label for="date"> Date de la récolte </label>
        <input id="date" type="date" name="Date_Recolte" value="{{Recolte.Date_Recolte}}"
               placeholder="" required>

        <label for="Quantite"></label>
        <input id="Quantite" type="number" name="Quantite" min="0.0" max="99.9" value="{{Recolte.Quantite}}"
               placeholder="" required> <br>

        <label for="Recolte_complete"> La parcelle est-elle vide ? </label>
        <select name="Recolte_complete" required>
        <option value=""> Sélectionner "oui" s'il n'y a plus de plante à récolter</option>
            <option value="oui_recolte_complete"> Oui </option>
            <option value="non_recolte_complete"> Non </option>
        </select> <br>

        <input type="submit" value="Creer" name="Valider">
    </fieldset>
</form>
{% endblock %}